.main {
    display: inline-block;
    width: 84%;
    background-color: #FAFAFA;
}

.main li:hover {
    text-decoration: underline solid black;
}

.main li:active {
    border:solid blue 1px;
}

.main p {
    font-weight: bolder;
    margin-left: 10%;
    font-size: 1.11em;
}


.main ul {
    margin-left: 15%;
    text-align:left;
}


.main ul li {
    display: inline-block;
    background-color: #C5E1A5;
    font-size:1.0em;
    padding:1% 5%;
    margin:0 3%;

}

.main ul li a {
    text-decoration:none;
    color:black;
}
