.header_menu {
    width:100%;
    background: skyblue;
    color:white;
    border:solid;
    line-height:0.4em;
}

.header_menu .title  {
    display:inline-block;
    width:63%;
    margin-left:1%;
    font-size:1.5em;
}

.header_menu .menu  {
    display:inline-block;
    font-size:1.5em;
}

.header_menu .menu ul {
    padding-right:0;
}

.header_menu .menu li {
    display:inline-block;
}

.side_menu, .main {
    vertical-align:top;
}

.side_menu {
    border: solid gray 1px;
    display: inline-block;
    width:15%;
}

.side_menu p {
    margin:0%;
    font-size:1.1em;
    padding:5%;
}

.side_menu .blank p {
    padding:78% 0;
}

.side_menu p a {
    text-decoration:none;
    color:black;
}

.side_menu .content p:hover {
    background-color:#F5F5F5;
}

.side_menu .content p:active {
    border:solid blue 1px;
}
